main {
  padding-block: 2rem;
}
h1 {
  text-align: center;
}
input[type='checkbox']:checked + span {
  text-decoration: line-through;
  color: #888;
  opacity: 0.6;
}
span {
  transition: all 0.3s ease;
}

.task-counter {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 0.5px solid #e0e0e0;
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}
